.mainback {
    min-height: 93vh;
    display: flex;
    padding: 10px 0;
}

.page {
    width: 100%;
}
.heading {
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 10px;
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
}
